<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.zentimestamp.ZenTimestampJobProperty plugin="zentimestamp@4.2">
      <changeBUILDID>true</changeBUILDID>
      <pattern>yyyyMMddHHmmss</pattern>
    </hudson.plugins.zentimestamp.ZenTimestampJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/radhakrishna-kamatam/VProfile.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Maven>
      <targets>install</targets>
      <mavenName>maven3.3.9</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>false</injectBuildVariables>
    </hudson.tasks.Maven>
    <sp.sd.nexusartifactuploader.NexusArtifactUploader plugin="nexus-artifact-uploader@2.10">
      <nexusVersion>nexus2</nexusVersion>
      <protocol>http</protocol>
      <nexusUrl>172.31.20.243:8081/nexus</nexusUrl>
      <groupId>dev</groupId>
      <version>$BUIL_ID</version>
      <repository>repo</repository>
      <artifacts>
        <sp.sd.nexusartifactuploader.Artifact>
          <artifactId>$BUILD_TIMESTAMP</artifactId>
          <type>war</type>
          <classifier></classifier>
          <file>target/VProfile-1.0.war</file>
        </sp.sd.nexusartifactuploader.Artifact>
      </artifacts>
      <credentialsId>7fb475dd-df2f-4a2a-9796-1cdadb42371e</credentialsId>
    </sp.sd.nexusartifactuploader.NexusArtifactUploader>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/*.war</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>